{% extends 'base.html' %}


{% block title %} 
     {{title}}
    
{% endblock title %}

{% block content %}

<form method="POST">
     <div class="row">
          <div class="mx-auto col-10 col-md-8 col-lg-6">
               {% csrf_token %}
               <h1>Edit Students </h1>
     
               {% load crispy_forms_tags %}
               {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
     
          </div>

     </div>


</form>
{% endblock %}


